:root {
    --primary-text-colour:#212121;
    --title-text-colour:#757575;
    --accent-colour:#2196F3;
    }


/* Normalaze styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Main styles*/
body {
    background-color: #E5E5E5;
    color: var(--primary-text-colour);
}
ul {
    list-style: none;
}
        /* Navigation, logo */
/* Logo */
.header-logo span {
    color: var(--accent-colour);
}
.header-logo {
    text-decoration: none;
    color: var(--primary-text-colour);
}
.header-logo:hover,
.header-logo:focus{
    color:var(--accent-colour);
}

/* Main navigation */
.header-nav .item {
    color: var(--primary-text-colour);
    text-decoration: none;
}
.header-nav .item:hover,
.header-nav .item:focus {
    color:var(--accent-colour);
}

/* Address */
.header-address .item {
    color:var(--title-text-colour);
    text-decoration: none;
}
.header-address .item:hover,
.header-address .item:focus {
    color:var(--accent-colour);
}
        /* Main page 1-2 */
/*Text sections  */
/* .section .section-title {
    color: #212121;
} */
.section .section-description {
    color:var(--title-text-colour);
}

.hero .hero-title {
    color: #FFFFFF;
}
.hero .hero-button {
    background-color:var(--accent-colour);
    color: #FFFFFF;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
    color:var(--primary-text-colour);
    background-color: #FFFFFF;
}
/* 2 Page */
.section-nav .nav-buttons:hover,
.section-nav .nav-buttons:focus {
color: #FFFFFF;
background-color:var(--accent-colour);
}
        /* Footer */
/* Logo */
.footer .footer-logo {
    color: #FFFFFF;
    text-decoration: none;
}
.footer span {
    color:var(--accent-colour);
}
.footer .footer-logo:hover,
.footer .footer-logo:focus {
    color:var(--accent-colour);
}
/* Address */

.address .address-map {
    color: #FFFFFF;
    text-decoration: none;
}
.address-contact {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}
.address .address-map:hover,
.address .address-map:focus {
    color:var(--accent-colour);
}
.address-contact:hover,
.address-contact:focus {
    color:var(--accent-colour);
}