/* Normalaze styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* Main styles*/
body {
    background-color: #E5E5E5;
    color: #212121;
}
ul {
    list-style: none;
}
        /* Navigation, logo */
/* Logo */
.header-logo span {
    color: #2196F3;
}
.header-logo {
    text-decoration: none;
    color: black;
}
.header-logo:hover,
.header-logo:focus{
    color: #2196F3 ;
}

/* Main navigation */
.header-nav .item {
    color: #212121;
    text-decoration: none;
}
.header-nav .item:hover,
.header-nav .item:focus {
    color: #2196F3;
}

/* Address */
.header-address .item {
    color: #757575;
    text-decoration: none;
}
.header-address .item:hover,
.header-address .item:focus {
    color: #2196F3;
}
        /* Main page 1-2 */
/*Text sections  */
/* .section .section-title {
    color: #212121;
} */
.section .section-description {
    color: #757575;
}

.hero .hero-title {
    color: #FFFFFF;
}
.hero .hero-button {
    background-color: #2196F3;
    color: #FFFFFF;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
    color: #212121;
    background-color: #FFFFFF;
}
/* 2 Page */
.section-nav .nav-buttons:hover,
.section-nav .nav-buttons:focus {
color: #FFFFFF;
background-color: #2196F3;
}
        /* Footer */
/* Logo */
.footer .footer-logo {
    color: #FFFFFF;
    text-decoration: none;
}
.footer span {
    color: #2196F3;
}
.footer .footer-logo:hover,
.footer .footer-logo:focus {
    color: #2196F3;
}
/* Address */

.address .address-map {
    color: #FFFFFF;
    text-decoration: none;
}
.address-contact {
   color: rgba(255, 255, 255, 0.6);
   text-decoration: none;
}
.address .address-map:hover,
.address .address-map:focus {
    color: #2196F3;
}
.address-contact:hover,
.address-contact:focus {
    color: #2196F3;
}